#timestampDisplay {
  position: absolute; /* 固定位置にする */
  bottom: 10px;     /* 画面の下から10pxの位置 */
  right: 10px;      /* 画面の右から10pxの位置 */
  background-color: rgba(0, 0, 0, 0.7); /* 背景色（透過黒） */
  color: white;     /* 文字色 */
  padding: 10px;    /* 内側の余白 */
  border-radius: 5px; /* 角を丸くする */
  font-size: 14px;   /* フォントサイズ */
  z-index: 1000;     /* 他の要素の上に表示する */
}


#header-title {
  display: block;
  height: 120px;
}
