#timestampDisplay {
    position: fixed;  /* 画面上で固定 */
    top: 10px;        /* 画面上部から10px */
    right: 10px;      /* 画面右端から10px */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;   /* フォントサイズを少し大きくしました */
    border-radius: 5px;
    z-index: 1000;     /* 他の要素に隠れないようにする */
}


#header-title {
  display: block;
  height: 30px;
}
