#timestampDisplay {
    position: fixed;    /* 画面全体に対して固定 */
    bottom: 10px;       /* 画面下部から10px */
    right: 10px;        /* 画面右端から10px */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 12px;
    border-radius: 5px;
    z-index: 9999;      /* 他の要素よりも上に表示されるようにz-indexを設定 */
}

